<!DOCTYPE html>
<html>
  <head>
    <title>FiveHundredLevelManager</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% [:notice, :error].each do |flash_type| %>
      <% if flash[flash_type] %>
        <div class="<%= flash_type %>">
          <%= flash[flash_type] %>
        </div>
      <% end %>
    <% end %>
    <%= yield %>
  </body>
</html>
