<!DOCTYPE html>
<html>
  <head>
    <title>500 Level Manager</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav id="navbar" class="navbar navbar-default">
      <% if !!session[:user_id] %>
        <%= link_to 'Clothing', clothing_index_path %>
        <%= link_to 'Accessory', accessory_index_path %>
        <%= link_to 'Colors', colors_path %>
        <%= link_to 'Sizes', sizes_path %>
        <%= link_to 'Reserved Designs', reserved_designs_path %>
        <%= link_to 'Designs', team_player_designs_path %>
        <%= link_to 'Teams', teams_path %>
        <%= link_to 'Royalties', royalties_path %>
        <%= link_to 'Sales Channels', sales_channels_path %>
        <%= link_to 'Kill Jobs', kill_jobs_path, method: 'POST', data: { confirm: "Are you sure that you want to kill all running jobs?" } %>
        <%= form_tag logout_path, method: 'GET' do %>
          <%= submit_tag "Log Out", class: 'log-out' %>
        <% end %>
      <% end %>
    </nav>
    <div class="container">
      <% [:notice, :error].each do |flash_type| %>
        <% if flash[flash_type] %>
          <div class="<%= flash_type %>">
            <%= flash[flash_type] %>
          </div>
        <% end %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
